.swiper-wrapper {
  height: 500px;
  // width: 200px;
  // border: 1px solid red;
  // background-color: red;
}

.swiper-slide {
  height: 10px;
  // width: 200px;
  padding: 0.5rem;
  // border: 1px solid violet;
}
